@import url(./reset.css);

.container {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    border-bottom: 3px solid #000;
}

.row:last-child {
    border-bottom:none;
}

.row > .cell{
    border-right: 3px solid #000;
}

.row > .cell:last-child{
    border-right: none;
}

.cell {
    font-size: 13rem;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controll-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.controll-buttons__controll-button {
    border: none;
    background-color: #fff;
    font-size: 3rem;
    margin: 0 2%;
}

.controll-buttons__controll-button_disabled {
    color: #bbb;
}

.controll-buttons__controll-button_sm {
    font-size: 2rem;
}

.message {
    text-align: center;
    font-size: 4rem;
}

@media only screen and (max-width: 768px) { 

    .cell {
        width: 150px;
        height: 150px;
        font-size: 9rem;
    }

}

@media only screen and (max-width: 576px) { 

    .cell {
        width: 100px;
        height: 100px;
        font-size: 5rem;
    }

}